:host {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
}

header h1 {
    flex-grow: 1;
    align-items: center;
}

main {
    width: 100%;
}

main div {
    display: flex;
    flex-direction: row;
}

main div span, main div input[type=text] {
    flex-grow: 1;
}